@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --azul: #26547c;
  --rosado: #ef476f;
  --background: #f8f8f8;
  --amarillo: #ffd166;
  --oscuro: #081721;
  --verde: #06d6a0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

/* --------------------CAMBIOS HEADER-------------------------- */

/* -- ENCABEZADO HEADER -- */

header {
  width: 100%;
  top: 0px !important;
  position: fixed;
}

header.logoWaveContainer {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

header img {
  position: absolute;
  width: 100%;
  height: 220px;
  margin-top: 0px;
  padding: 0px;
  z-index: 0;
  object-fit: cover;
}

img.logo {
  margin: 10px 10%;
  width: 50px;
  height: 50px;
  z-index: 1;
}

header h1 {
  position: relative;
  margin-top: 0;
  padding-top: 20px;
  margin-bottom: 21px;
  z-index: 1;
  font-size: 2em;
  color: #26547c;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  text-align: center;
}

header nav {
  z-index: 1;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Inter", sans-serif;
}

header nav a {
  color: #26547c;
  margin: 0 10px;
  text-decoration: none;
}

header nav a:hover {
  padding: 6px;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
  background-color: #06d6a0;
  color: #ffd166;
  font-weight: 500;
}

/* ---------------------------------------------------- */

.logo {
  margin: 20px 40px;
  height: 50px;
  width: auto;
}

h2 {
  color: var(--azul) !important;
}


/* ---------------------------SECTION GENERAL-------------- */
.sectionS-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-container {
  --bs-gutter-x: 24px;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  width: 80%;
}

#founders {
  padding-top: 220px;
}

#mission {
  padding-left: 150px;
}
#volunteers{
  padding-left: 150px;
}

.section-container .columns {
  flex: 0 0 auto;
  width: 50%;
  animation: sAnim 2s ease 0s 1 normal none;
}

@keyframes sAnim {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.section-container .columns.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 50%;
  height: 65vh;
  animation: img1 2s ease 0s 1 normal none;
}

@keyframes img1 {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.section-container .columns.content .content-container {
  padding: 40px 50px;
}

.section-container .columns.content .content-container h5 {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 20px;
}

.section-container .columns.content .content-container p {
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 20px;
  margin-bottom: 15px;
  color: var(--oscuro);
}

.footer {
  background-color: var(--amarillo);
  position: relative;
  height: 180px;
  width: 100%;
  align-content: center;
  margin-top: 100px;
}

.containerFooter {
  background-color: var(--amarillo);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  align-content: center;
  width: 100%;
}

.navContainerFooter {
  margin: 0;
  display: flex;
}

.nameFooter {
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--azul);
  font-family: "Inter", sans-serif;
  font-weight: 900;
  text-align: center;
  font-size: x-large;
}

.navIcon {
  margin-bottom: 10px;
}

.navIcon img {
  cursor: pointer;
}

/* -------------- FOOTER -------------- */

footer {
  width: 100%;
  height: 170px;
  background-color: #ffd166;
  background-repeat: no-repeat;
  text-align: center;
}
.containerFooter p {
  margin: 0px !important;
  padding: 20px;
  font-family: "Inter", sans-serif;
  font-size: x-large;
  font-weight: 800;
  color: #26547c;
}

.navConainerFooter {
  margin: 5px 10px 5px 10px;
}

.navConainerFooter a {
  margin: 0px !important;
  padding-bottom: 10px;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  color: #26547c;
}
.navConainerFooter a:hover {
  font-weight: 700;
}

.infoFooter p {
  margin: 0px !important;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  color: #26547c;
}

/* -------------------------------- */

@media only screen and (max-width: 767px) {
  .header {
    display: none;
  }

  .logo {
    display: none;
  }

  .image {
    width: 100%;
  }

  .sectionS-container {
    width: 100%;
    padding-top: 50px;
  }
  .section-container {
    flex-flow: row wrap;
    padding-top: 0px;
    font-size: 0.8rem;
    width: 100%;
  }

  .section-container .columns.image {
    display: block;
    order: 1;
    width: 100%;
    height: 350px;
  }

  .section-container .columns.content {
    display: block;
    order: 2;
    width: 100%;
  }

  .section-container .columns.content .content-container {
    padding: 20px 35px;
  }

  .section-container .columns.content .content-container h5 {
    margin-bottom: 5px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    padding: auto;
  }

  .logo {
    width: auto;
  }

  .section-container .columns.image {
    display: block;
    order: 1;
    width: 100%;
    height: 250px;
  }

  .section-container .columns.content {
    display: block;
    order: 2;
    width: 100%;
  }

  .section-container .columns.content .content-container {
    padding: 20px 35px;
  }

  .section-container .columns.content .content-container h5 {
    margin-bottom: 5px;
  }

  .image {
    width: 100%;
    margin-bottom: 20px;
  }

  .containerFooter {
    flex-direction: column;
    align-items: center;
  }

  .navIcon {
    margin-bottom: 20px;
    cursor: pointer;
  }

  .navIcon img {
    margin-right: 10px;
  }

  .navContainerFooter {
    margin-bottom: 20px;
  }
}

/* -------------- */

/* -------------- Estilos de Menú Hamburguesa -------------- */

.abrirMenu,
.cerrarMenu {
  display: none;
}

@media (max-width: 768px) {
  header img,
  h1 {
    display: none;
  }

  header {
    display: none;
  }

  .logo {
    display: block;
  }

  .abrirMenu,
  .cerrarMenu {
    display: block;
    border: 0;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
  }

  .abrirMenu {
    margin: 20px 5%;
    color: #ffd166;
    font-size: 2rem;
  }

  .cerrarMenu {
    color: #26547c;
    font-size: 2.5rem;
  }

  .headerContainer {
    display: flex;
    justify-content: space-between;
  }

  .navContainer {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffd166;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    height: 100vh;
    gap: 1rem;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  .navContainer.visible {
    opacity: 1;
    visibility: visible;
  }
}
