@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --azul: #26547c;
  --rosado: #ef476f;
  --background: #f8f8f8;
  --amarillo: #ffd166;
  --oscuro: #081721;
  --verde: #06d6a0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  gap:32px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: var(--background);
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}



/* ----- ENCABEZADO HEADER ------ */
header {
  width: 100%;
  top: 0px !important;
}

header.logoWaveContainer {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

header img {
  position: absolute;
  width: 100%;
  height: 220px;
  margin-top: 0px;
  padding: 0px;
  z-index: 0;
  object-fit: cover;
}

img.logo {
  margin: 10px 10%;
  width: auto;
  height: 50px;
  z-index: 1;
}

header h1 {
  position: relative;
  margin-top: 0;
  padding-top: 20px;
  margin-bottom: 21px;
  z-index: 1;
  font-size: 2em;
  color: var(--azul);
  font-family: "Inter", sans-serif;
  font-weight: 900;
  text-align: center;
}

header nav {
  z-index: 1;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Inter", sans-serif;
}

header nav a {
  color: var(--azul);
  margin: 0 10px;
  text-decoration: none;
}

header nav a:hover {
  padding: 6px;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
  background-color: var(--verde);
  color: var(--amarillo);
  font-weight: 500;
}
.abrirMenu, .cerrarMenu{
  display: none;
}
/* ---------------------------------------------------- */
h2 {
  color: var(--azul) !important;
}
.contact-container{
  width: 100%;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.wave {
  position: absolute;
  top: -10;
  right: 0;
  width: 50%;
  z-index: -10;
}

.img-mascotas{
  padding-top: 100px; 
  padding-bottom: 50px;
  max-width: 100%;
  height: auto;
}

.titulo {
  font-size: 48px;
  font-weight: 900;
  color: var(--amarillo) !important;
  margin-top: 100px;
}

.container-text {
  flex: 1;
  padding-left: 40px;
  animation: slideIn 1s ease-in-out;
  text-align: justify;
}

.container-text p {
  color: var(--azul);
  max-width: 100%;
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 1.6;
  text-align: justify;
  line-height: 2.5;
}

.container-img {
  flex: 1;
  display: flex;
  justify-content: center;
  animation: slideIn 1s ease-in-out;
}

.container-img img {
  width: 100%;
}


/*---------------- FORMULARIO ----------- */
.form-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  padding: 40px;
  color: var(--azul);
  background-color: var(--amarillo);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  text-align: center;
  animation: slideIn 1s ease-in-out;
}

.form-container h2 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  color: var(--amarillo);
  margin-bottom: 20px;
}

.form-center {
  display: flex;
  justify-content: center;
}

.contact-container{
  padding-bottom: 100px;
}

.contact-form {
  width: 100%;
}

.contact-description {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: var(--azul);
}

.form-image{
  padding-top: 30px;
}

.form-element {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.form-element input,
.form-element textarea,
.form-container select {
  flex: 1;
  padding: 12px;
  border: 2px solid var(--background);
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, background-color 0.3s;
  background-color: var(--background);
  font-size: 16px;
  outline: none;
  width: 90%;
  color: var(--azul);
}

.form-container textarea {
  resize: none;
  height: 150px;
}

.form-container label.checkbox-label,
.form-container label.radio-label {
  display: block;
  margin-bottom: 10px;
  font-family: "Inter", sans-serif;
  color: var(--azul);
}

.form-container select,
.form-container input[type="checkbox"],
.form-container input[type="radio"] {
  width: auto;
  margin-right: 5px;
}

.form-container button:hover {
  background-color: var(--verde);
  color: var(--amarillo);
  transform: scale(1.05);
}

.form-text {
  width: 50%;
}

.form-element input:focus,
.form-element textarea:focus,
.form-element select:focus {
  border-color: var(--verde); 
}

.form-container button {
  background-color: var(--rosado);
  color: var(--background);
  font-weight: bold;
  border: none;
  padding: 12px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.map-container {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  border: 1px solid var(--azul);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

.map-container iframe {
  width: 100%;
  height: 300px;
  border-radius: 18px;
}

/* Animación de entrada */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



/* -------------- FOOTER -------------- */
.footer {
  width: 100%;
  height: 170px;
  background-color: var(--amarillo);
  background-repeat: no-repeat;
  text-align: center;
}

.containerFooter p {
  margin: 0 !important;
  padding: 20px;
  font-family: "Inter", sans-serif;
  font-size: x-large;
  font-weight: 800;
  color: var(--azul);
}

.navConainerFooter {
  margin: 5px 10px 5px 10px;
}

.navConainerFooter a {
  margin: 5px !important;
  padding-bottom: 15px;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--azul);
  cursor: pointer;
}

.navConainerFooter a:hover {
  font-weight: 700;
}

.infoFooter p {
  margin: 0 !important;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--azul);
}



/* ------------Responsive-------------------- */

@media (max-width: 768px) {

  header img, h1{
      display: none;
  }


  header{
    display: none;
  }
  .logo {
      display: block;
  }

.abrirMenu , .cerrarMenu{
  display: block;
  border: 0;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
}

.abrirMenu{
  margin: 20px 5%; 
  color: #FFD166;
  font-size: 2rem;
}
.cerrarMenu{
  color: #26547C;
  font-size: 2.5rem;
}
.headerContainer{
  display: flex;
  justify-content: space-between;
}


  .navContainer {
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      align-items: end;
      position: absolute;
      top: 0;
      right: 0;
      background-color: #FFD166;
      padding: 2rem;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
      height: 100vh;
      gap: 1rem;
      transition: opacity 0.3s ease, visibility 0.3s ease;
  }

.navContainer.visible {
  opacity: 1;
  visibility: visible;
}
}


@media only screen and (max-width: 767px) {
  .image {
    width: 100%;
  }

  .container {
    padding: 10px;
  }

  .container-text {
    text-align: center;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
  }
  .contact-container{
    padding: 10px;
  }

  .titulo {
    margin-top: 50px;
  }

  .contact-description{
    padding-bottom: 10px;
  }

  .form-center{
    padding: 10px;
    margin: 10px;
  }

  .form-text{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10px;
  }


  .container-img {
    display: none;
  }

  .form-image{
    display: none;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    *margin: 0 auto;
    padding: 10px;
    margin: 10px;
  }

}


@media only screen and (min-width: 768px) and (max-width: 1024px) {

  .image {
    width: 100%;
    margin-bottom: 20px;
  }

  .container {
    padding: 0;
  }

  .container-text {
    text-align: center;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .form-text{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10px;
  }

 .contact-container{
    padding: 10px;
  }

  .form-center{
    padding: 10px;
    margin: 10px;

  }
  .contact-description{
    padding-bottom: 10px;
  }

  .container-img {
    display: none;
  }

  .contact-container{
    padding-top: 20px;
  }

  .form-image{
    display: none;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    margin: 10px;
  }



  .containerFooter {
    flex-direction: column;
    align-items: center;
  }

  .navIcon {
    margin-bottom: 20px;
    cursor: pointer;
  }

  .navIcon img {
    margin-right: 10px;
  }

  .navContainerFooter {
    margin-bottom: 20px;
  }

}
