
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


body {
    margin: 0px !important;
    padding: 0px !important;
    background-color: #f8f8f8 !important;
    font-family: "Inter", sans-serif;
  }

  /* -- ENCABEZADO HEADER -- */

    header{
        width:100%;
        top: 0px !important;    
        position: fixed;
       
    }

    header.logoWaveContainer{
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 0px;
    }

        header img{
            position:absolute;
            width: 100%;
            height: 220px;
            margin-top: 0px;
            padding: 0px;
            z-index: 0;
            object-fit: cover;
        }


        img.logo{
            margin: 10px 10%;
            width: 50px;
            height: 50px;
            z-index:1;
        }

        header h1 {
            position: relative;
            margin-top: 0;
            padding-top: 20px;
            z-index:1;
            font-size: 2em;
            color: #26547C;
            font-family: "Inter", sans-serif;
            font-weight: 900;
            text-align: center;
        }
      
    header nav {
        z-index:10;
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        font-family: "Inter", sans-serif;
        
    }
          
        header nav a {
            color: #26547C;
            margin: 0 10px;
            text-decoration: none; 
        }
        
        header nav a:hover{
            padding:6px;
            border-radius: 20px;
            transition:all .5s ease-in-out;
            background-color: #06D6A0;
            color:#FFD166;
            font-weight: 500;
        }

  

/* -- SECCIONES MAIN -- */
    
    main{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;        
    }

    section{
        display: flex;
        gap:70px;
        padding-top: 220px;
        width: 80%;
        height: calc(100vh - 400px);
    }


    /* ----------LANDING--------- */
    main{
        font-family: "Inter", sans-serif;
    }

    .nameRefu{
        font-size: 4rem;
        font-weight: 900;
        color: #FFD166;
    }

    .containerImage{
        width: 40%;
    }

    .imagenBack{
        object-fit: cover;
        position: absolute;
        right: 0%;
        height: 100%;
       z-index: -10;
    }
    .leftContainerAyuda{
        padding-right: 100px;
        text-align: left;
        line-height: 3rem;
        font-weight: 500;
        color: #26547C;
    }
    
    
/* ---------------------------------- */

   /* -- FOOTER -- */

    footer{
        width: 100%;
        height: 170px;
        background-color: #FFD166;
        background-repeat: no-repeat;
        text-align: center;
    }
     .containerFooter p{
        margin: 0px !important; 
        padding: 20px;
        font-family: "Inter", sans-serif;
        font-size:x-large;
        font-weight: 800;
        color: #26547C;
        
     }

     .navConainerFooter{
        margin: 5px 10px 5px 10px;
     }

     .navConainerFooter a{
        margin: 0px !important;
        padding-bottom: 10px;
        text-decoration: none;
        font-family: "Inter", sans-serif;
        font-size: 0.8rem;
        font-weight: 500;
        color: #26547C;
     }
     .navConainerFooter a:hover{
        font-weight: 700;
     }

     .infoFooter p{
        margin: 0px !important;
        padding: 10px;
        font-family: "Inter", sans-serif;
        font-size: 0.8rem;
        font-weight: 500;
        color: #26547C;
     }

/* ---------------RESPONSIVE-------- */

@media (max-width: 545px) {

    header{
        display: none;
    }

    main{
        display: flex;
        width: 100;
    }

        main>img{
            display: none;
        }

    
    .aboutUs{
        display: flex;
        flex-direction: column;
        width: 100;
        padding-top:60px;
        animation: anim 2s ease forwards;
    }

    @keyframes anim {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
    
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }


    .leftContainerAyuda{
        line-height: 1.2rem;
        font-size: 12px;
        padding-right: 0px;
    }

    .nameRefu{
        font-size: 1.5rem;
    }

    .containerImage{
        width: 100%;
        background-color: #EF476F;
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .containerImage>img{
        width: 200px;
        height: 200px;
    }

    .imagenBack{
        object-fit: cover;
        position: absolute;
        right: 0%;
        height: 100%;
       z-index: -10;
    }

    .contact{
        display: flex;
        flex-direction: column;
        animation: anim 2s ease forwards;
    }
    @keyframes anim {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
    
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}