/* adoptions css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* reset css*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --ff-tittle: font-family: 'Bebas Neue';
    --ff-body: font-family: 'Bitter';
    --ff-raleway: font-family: 'Raleway';
    --ff-lora: font-family: "Inter", sans-serif;
}

a,
li {
    font-style: none;
    text-decoration: none;
    display: inline-block;
}

.body {
    background: #f8f8f8;
}
.containerGral{
    padding-top:130px;
}

/* -- ENCABEZADO HEADER -- */

header {
    width: 100%;
    top: 0px !important;
    position: fixed;

}

header.logoWaveContainer {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

header img {
    position: absolute;
    width: 100%;
    height: 220px;
    margin-top: 0px;
    padding: 0px;
    z-index: 0;
    object-fit: cover;
}


img.logo {
    margin: 10px 10%;
    width: 50px;
    height: 50px;
    z-index: 1;
}

header h1 {
    position: relative;
    margin-top: 0;
    margin-bottom: 21px; 
    padding-top: 20px;
    z-index: 1;
    font-size: 2em;
    color: #26547C;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    text-align: center;
}

header nav {
    z-index: 1;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Inter", sans-serif;

}

header nav a {
    color: #26547C;
    margin: 0 10px;
    text-decoration: none;
}

header nav a:hover {
    padding: 6px;
    border-radius: 20px;
    transition: all .5s ease-in-out;
    background-color: #06D6A0;
    color: #FFD166;
    font-weight: 500;
}

.abrirMenu,
.cerrarMenu {
    display: none;
}

.containerGral {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

/*Section adoption*/

.containerAdoption {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-top: 15px;
    animation: aAnim 2s ease 0s 1 normal none;
}
@keyframes aAnim {
    0% {
    opacity: 0;
    transform: translateX(-50px);
    }

    100% {
    opacity: 1;
    transform: translateX(0);
    }
}

#adopcion {
    display: flex;
    margin-top: 50px;
}

.principalText {
    font-family: "Inter", sans-serif;
    gap: 15px;
    width: 60%;
}

.principalText h1 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: #26547C;
}

.principalText p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.imgSectionAdoption {
    width: 40%;
    animation: imgAnim 2s ease 0s 1 normal none;
}


.img1 {
    width: 450px;
    animation: img1Anim 2s ease 0s 1 normal none;
}

@keyframes img1Anim {
    0% {
    opacity: 0;
    transform: translateX(100px);
    }

    100% {
    opacity: 1;
    transform: translateX(0);
    }
}


/*Peluditos*/
.containerPeluditos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
}

#peluditos {
    display: flex;
    margin-top: 50px;
}

.textPeluditos {
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    padding: 15px;
    gap: 20px;
}

.textPeluditos h2 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: #ef476f;
}

.textPeluditos p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.cardsPeluditos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 20px;
}

.card {
    height: 500px;
    width: 350px;
    padding: 15px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    border-radius: 30px;
    box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45),
        5px 5px 9px rgba(94, 104, 121, 0.3);
}

.card .textCard {
    flex-grow: 1;
    flex-shrink: 1;
}

.textCard p {
    margin-top: 10px;
    font-size: 0.9rem;
}

.pink {
    background-image: url(img/backgrounds/bg-pink.svg);
    background-size: cover;
    color: #f8f8f8;
}

.blue {
    background-image: url(img/backgrounds/bg-blue.svg);
    background-size: cover;
    color: #f8f8f8;
    
}

.yellow {
    background-image: url(img/backgrounds/bg-yellow.svg);
    background-size: cover;
    color: rgb(7, 7, 7);
}

.aqua {
    background-image: url(img/backgrounds/bg-aqua.svg);
    background-size: cover;
    color: rgb(7, 7, 7);
}

.card img {
    width: 150px;
}

.additionalInfo {
    display: flex;
    align-items: center;
    color: rgb(7, 7, 7);
}

.additionalInfo>div {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.additionalInfo p {
    display: flex;
    align-items: center;
    margin: 5px;
    font-size: 0.9rem;
}

.additionalInfo img {
    margin-right: 8px;
    width: 20px;
}

/*Requisitos*/
.containerRequisitos {
    display: flex;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    width: 80%;
    align-items: center;
    animation: rAnim 2s ease 0s 1 normal none;
}

@keyframes rAnim {
    0% {
    opacity: 0;
    transform: translateX(-50px);
    }

    100% {
    opacity: 1;
    transform: translateX(0);
    }
}



#requisitos {
    display: flex;
    margin-top: 50px;
    gap: 50px;
}

.textRequisitos {
    width: 60%;
    gap: 15px;
    margin: 15px;
}

.textRequisitos h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: #FFD166;
}

.textRequisitos p {
    align-items: center;
    font-size: 1rem;
    margin-bottom: 10px;
}

.textRequisitos ul li {
    align-items: center;
    font-size: 1rem;
    margin-bottom: 10px;
}

.imgSectionRequisitos {
    display: flex;
    justify-content: center;
    width: 40%;
}

.img2 {
    width: 400px;
    animation: img2Anim 2s ease 0s 1 normal none;
}

@keyframes img2Anim {
    0% {
    opacity: 0;
    transform: translateX(100px);
    }

    100% {
    opacity: 1;
    transform: translateX(0);
    }
}


/*Formulario*/

.formSection {
    display: flex;
    font-family: "Inter", sans-serif;
    margin-top: 50px;
    justify-content: space-between;
    gap: 50px;
    width: 80%;
    align-items: center;
    animation: fAnim 2s ease 0s 1 normal none;
}

@keyframes fAnim {
    0% {
    opacity: 0;
    transform: translateX( 50px);
    }

    100% {
    opacity: 1;
    transform: translateX(0);
    }
}


#formulario {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

}

.textFormulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.textFormulario h4 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: #06D6A0;
}

.textFormulario p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.textFormulario .finalText {
    margin-top: 20px;
}

.textFormulario .formButton {
    padding: 15px 25px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    width: 250px;
    color: #f8f8f8;
    background-color: #ef476f;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    font-size: 1rem;
    transition: all 0.5s;
}

.formButton:hover {
    letter-spacing: 3px;
    background-color: #ffd166;
    color: #f8f8f8;
}

.formButton:active {
    letter-spacing: 3px;
    background-color: #ffd166;
    color: #f8f8f8;
    transform: translateY(5px);
    transition: 100ms;
}

.imgForm img {
    width: 400px;
    animation: img3Anim 2s ease 0s 1 normal none;
}

@keyframes img3Anim {
    0% {
    opacity: 0;
    transform: translateX(-100px);
    }

    100% {
    opacity: 1;
    transform: translateX(0);
    }
}



/* -- FOOTER -- */

footer {
    width: 100%;
    height: 170px;
    margin-top: 40px;
    background-color: #ffd166;
    background-repeat: no-repeat;
    text-align: center;
}

.containerFooter p {
    margin: 0px !important;
    padding: 20px;
    font-family: "Inter", sans-serif;
    font-size: x-large;
    font-weight: 800;
    color: #26547C;

}

.navConainerFooter {
    margin: 5px 10px 5px 10px;
}

.navConainerFooter a {
    margin: 0px !important;
    padding-bottom: 10px;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    color: #26547C;
}

.navConainerFooter a:hover {
    font-weight: 700;
}

.infoFooter p {
    margin: 0px !important;
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    color: #26547C;
}

/* RESPONSIVE */

@media (max-width: 768px) {

    header img, h1{
        display: none;
    }


    .logo {
        display: block;
    }

.abrirMenu , .cerrarMenu{
    display: block;
    border: 0;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
}

.abrirMenu{
    margin: 20px 5%; 
    color: #FFD166;
    font-size: 2rem;
}
.cerrarMenu{
    color: #26547C;
    font-size: 2.5rem;
}
.headerContainer{
    display: flex;
    justify-content: space-between;
}


    .navContainer {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #FFD166;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        height: 100vh;
        gap: 1rem;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

.navContainer.visible {
    opacity: 1;
    visibility: visible;
}

    #adopcion {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 70px;
    }

    .imgSectionAdoption {
        width: 100%;
    }

    .principalText {
        gap: 15px;
        width: 100%;
    }

    #requisitos {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }


    .textRequisitos {
        width: 100%;
    }

    .formSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .textFormulario {
        width: 100%;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .imgSectionAdoption {
        text-align: center;
    }

    .img1 {
        width: 250px;
    }

    .principalText h1 {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .principalText p {
        font-size: 0.8rem;
        margin-bottom: 10px;
    }

    .textPeluditos h2 {
        font-size: 1rem;
    }

    .textPeluditos p {
        font-size: 0.8rem;
    }

    .additionalInfo p {
        font-size: 0.8rem;
    }

    .img2 {
        width: 250px;
    }

    .textRequisitos h3 {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .textRequisitos p {
        font-size: 0.8rem;
        margin-bottom: 10px;
    }

    .textRequisitos ul li {
        font-size: 0.8rem;
    }

    .textFormulario h4 {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .textFormulario p {
        font-size: 0.8rem;
        margin-bottom: 10px;
    }

    .textFormulario .formButton {
        font-size: 1rem;
        width: 150px;
    }

    .imgForm img {
        width: 250px;
    }
}